APP_NAME=FontSmith API
ENVIRONMENT=development
FRONTEND_URL=http://localhost:5173
MONGODB_URL=mongodb://localhost:27017
MONGODB_DB=fontsmith
UPLOAD_DIR=../uploads
GENERATED_FONT_DIR=../generated_fonts
MAX_UPLOAD_MB=12
